Package: fun.yfyf.bigboss.arcfix
Name: arcfix
Version: 0.0.5
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Soh Satoh & EVAN
Author: Soh Satoh & EVAN
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
